* {
    margin: 0;
    padding: 0;

}
#header {
    min-height: 100vh;
}
.container {
    width: 1140px;
    margin-left: 0;

}
.insta-top{
    display: flex;
    justify-content: center;
    align-items: center;

}
.motion {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-top: 160px;
    margin-left: 100px;
}
.insta-top h2{
    margin-left: 130px;
    margin-bottom: 150px;

}
.insta-top .btn {
    margin-bottom: 150px;
    margin-left: 40px;
    width: 200px;
    height: 30px;
    color: black;
    background: white;
    font-size: 16px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.17);
}
.btn:hover, .follow, .motion {
    cursor: pointer;
}

.follow {
    margin-bottom: 150px;
    margin-left:10px ;
    width: 150px;
    height: 30px;
    color: black;
    background: rgba(6, 148, 250, 0.97);
    font-size: 16px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.17);
}
.follow:focus{
    background: white;
    color: black;
}
.burger {
    width: 40px;
    height: 10px;
}
.line{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
}